@media only screen and (max-width:950px) {
    .imagen-conocenos-3 {
        display: none;
    }
}
    
    

@media only screen and (max-width:500px) {
            header {
            
                flex-direction: column;
            }
            nav {
                ul {
                        
                    display: flex;
                    width: 50%;
                    align-content: center;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: baseline; 
                }
            }
            .componentes {
                display: flex;
                align-content: stretch;
                justify-content: flex-end;
                flex-wrap: wrap;
                h3 {
                    display: none;
                }
             }
              
            .informacion {
                grid-template-areas: 
                "img1"
                "texto1 "
                "texto2 "
                "."
                "texto3 " 
                "texto4 ";
                grid-template-columns:100%;
                grid-template-rows: repeat(6,1fr);
                    }
           
            .subtitulo{
                display: none;
            }
            .mapa {
                display: none   ;
            }

        }

        @media screen and (max-width: 768px) {
   
            .card {
                width: calc(50% - 20px); 
            }
            .map {
                width: 75%;
            }
            .contacto-telefono {
                grid-template-areas:
                "tel-tx"
                "tel ft"
                "mail-tx"
                "mail"
                ;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4,100px);
            }
        }
        
        @media screen and (max-width: 503px) {
            .card {
                width: 100%; 
            }
            .contacto-telefono {
                display: block;
                margin: 0;
                

            }
            .mail {
                font-size: smaller;
            }
            .local {
                width: 250px;
            }
        }