$color-fondo: #DCFAF1;
$roboto: 'Roboto', sans-serif;

@mixin size ($alto, $ancho) {
    height: $alto;
    width: $ancho;
}
@mixin catalog-flex ($align, $justify, $wrap, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $direction; 
}
